body {
    font-family: 'Jost', sans-serif;
    background-color: #fffdf8;
    color: #002B45;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

/* HEADER */
.navbar {
    background: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: #00416A;
}

.navbar .btn {
    white-space: nowrap;
}

.navbar-toggler {
    border-color: #ffc107;
}

.navbar-toggler-icon {
    filter: invert(75%) sepia(90%) saturate(500%) hue-rotate(5deg);
}



/* HERO */
.hero {
    background: url('../images/fondo-header.png') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px 80px;
    position: relative;
    min-height: 100vh;
}

.hero .btn {
    background-color: #ffc107;
    border: none;
    font-weight: 600;
}

.ebd-image {
    height: 200px;
    width: auto;
}


/* COUNTDOWN */
.time-box {
    width: 120px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #002B45;
}

.time-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: currentColor;
    border-radius: 0 0 8px 8px;
}


.time-box h2 {
    font-size: 45px;
    margin: 0;
}

.time-box p {
    font-size: 14px;
    margin-top: 4px;
}

.contador-text {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--primary-primary-dark, #002F4D);
}

/*VÍDEOS*/
.video-section {
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #FBF8ED 0%, rgba(251, 248, 237, 0.00) 100%);
}


.videoWrapper {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 47, 77, 0.9);
}

.videoPlayer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.videoOverlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 43, 69, 0.35);
    backdrop-filter: blur(3px);
    border-radius: 20px;
    transition: opacity .3s ease;
}

.videoOverlay.hidden {
    opacity: 0;
    pointer-events: none;
}

.videoControl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    background: #DAA019;
    color: black;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity .25s ease, transform .2s ease;
}

.videoControl.hidden {
    opacity: 0;
    pointer-events: none;
}

.videoControl:hover {
    transform: translate(-50%, -50%) scale(1.1);
}


.videoLine {
    position: absolute;
    width: 110vw;

    top: 30%;
    left: 0%;
}

.videos-line-container {
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #FBF8EE;
}

.cardVideo {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: end;
}

.cardVideoItem {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: end;
}

.degrade {
    transition: all 0.3s;
    width: 100% !important;
    height: 100%;

    position: absolute;
    opacity: 0;

    border-radius: min(20px, 2vw);

}

.degrade.active {
    opacity: 1;

    background: linear-gradient(to top right,
            rgba(218, 159, 25, 0.9) 0%,
            /* Amarelo quase sólido (90% visível) no fundo */
            rgba(218, 159, 25, 0.3) 60%,
            /* Amarelo bem fraquinho (30% visível) no meio */
            rgba(218, 159, 25, 0) 100%
            /* Totalmente transparente no topo */
        );

}

.play-circle {
    transition: all 0.5s ease in oklch;
    margin: 3%;
    position: absolute;
    width: min(40px, 3.5vw) !important;
    z-index: 2;
}

.play-circle.blue {

    filter: brightness(0) saturate(100%) invert(12%) sepia(26%) saturate(4524%) hue-rotate(179deg) brightness(96%) contrast(101%);
}

.sec-video-img {
    border-radius: min(20px, 2vw);
    width: 100% !important;
}

.owl-carousel .owl-item {
    display: flex;
    justify-content: center;
}


/* SÍNTESES */

.nav-tabs .nav-link {
    color: #3d98d1;
    border: none;
    border-bottom: 2px solid transparent;
    font-weight: 600;
    font-size: 1rem;
}

.sinteses {
    position: relative
}

.relogio-1 {
    width: 163.2px;
    height: 163.2px;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: -1;
}

.relogio-2 {
    width: 81.6px;
    height: 81.6px;
    position: absolute;
    right: 138.4px;
    top: 179.2px;
    z-index: -1;
}

.relogio-3 {
    width: 40.8px;
    height: 40.8px;
    position: absolute;
    right: 178.4px;
    top: 138.4px;
    z-index: -1;
}

.relogio-4 {
    width: 21.6px;
    height: 21.6px;
    position: absolute;
    right: 144px;
    top: 154.4px;
    z-index: -1;
}

.sinteses .nav-tabs .nav-link.active {
    color: #002B45;
    border: none;
    border-bottom: 4px solid #002B45;
    background-color: transparent;
}

.sintese-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
}

.sinteseIcon {
    margin: 0;
    width: min(20px, 2vw);
}

/* contenedor de metadatos */
.sinteseMeta {
    display: flex;
    flex-wrap: wrap;
}

/* item individual */
.metaItem {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.95rem;
    padding-right: 10px;
}

.metaItem p {
    margin: 0;
}

/* PRELETORES */
.aneis-1 {
    width: 250px;
    height: 250px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 276px;
    top: 131.936px;
    z-index: 0;
}

.aneis-2 {
    width: 400px;
    height: 400px;
    aspect-ratio: 1/1;
    position: absolute;
    right: 52px;
    bottom: 144.063px;
    z-index: 0;
}

.aneis-3 {
    height: 800px;
    position: absolute;
    right: 0px;
    bottom: -249.937px;
    z-index: 0;
}

.aneis-4 {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    position: absolute;
    right: 130px;
    bottom: -255.936px;
    z-index: 0;
}

.text-hand {
    text-align: left;
    font-family: "Caveat", cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    /* 64px */
    background: linear-gradient(77deg, #153852 -0.43%, rgba(21, 56, 82, 0.50) 100.43%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.preletores {
    position: relative;
    background: linear-gradient(180deg,
            rgba(251, 248, 237, 0) 0%,
            #FBF8ED 25%,
            #FBF8ED 50%,
            #FBF8ED 75%,
            rgba(251, 248, 237, 0) 100%);
}


.preletoresCard img {
    border-radius: 10px;
    object-fit: cover;
    width: 50vw;
    margin: 0;
    width: 100%;
}

.preletoresCard {
    width: auto;
    border-radius: 10px;
    padding: 0;
    position: relative;
    background: linear-gradient(to top right,
            #00385E 0%,
            #013050ed 60%,
            white 100%);
    z-index: 2;
}

.infosPreletores {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;

    border-radius: 10px;

    opacity: 0;
    background: linear-gradient(to top,
            rgb(218, 160, 25) 0%,
            /* Amarelo quase sólido (90% visível) no fundo */
            rgb(218, 160, 25) 40%,
            /* Amarelo bem fraquinho (30% visível) no meio */
            rgb(255, 255, 255) 100%
            /* Totalmente transparente no topo */
        );

    animation: disappear 0.3s;
}

.infosPreletores.active {
    opacity: 1;
    animation: appear 0.3s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.nomePreletor {
    text-align: start;
    font-weight: bolder;
    position: absolute;
    color: #fff;
    z-index: 1;
    top: 70%;
    left: 5%;
    font-size: 3rem;
    animation: descend 0.3s;
}

.nomePreletor.top {
    transition: all 0.3s ease;
    top: 5%;
    color: #002B45;
    animation: ascend 0.3s;
}

.cvList {
    opacity: 0;
    margin: 8px 0 0 0;
    padding: 0;
    list-style: none;
    font-size: 0.85rem;
    text-align: left;
    transition: opacity 0.3s ease;
}

.nomePreletor.top .cvList {
    opacity: 1;
}

.cvList li {
    margin-bottom: 6px;
    line-height: 1.3;
    border-left: 1px solid #00416A;
    padding-left: 8px;
}

@keyframes ascend {
    0% {
        top: 70%;
    }

    100% {
        top: 5%;
    }
}

@keyframes descend {
    0% {
        color: #002B45;
        top: 5%;
    }

    100% {
        color: #fff;
        top: 70%;
    }
}


/* AVISO */
.aviso {
    padding: 40px 0;
}

.avisoBox {
    display: flex;
    align-items: center;
    gap: 40px;
}

.avisoIcon {
    flex: 0 0 40%;
}

.avisoContent {
    flex: 0 0 50%;
}

.avisoImg {
    align-items: center;
    width: 100%;
}


/* FOOTER */
.site-footer {
    background-color: #fff;
    color: #00385E;
}

.footer-logo {
    height: 40px;
    width: auto;
}

.site-footer a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #00385E;
}



/* UTILITÁRIOS */
.text-danger {
    color: #6C0000 !important;
}

.text-primary {
    color: #00416A !important;
}

.text-warning-2 {
    color: #B68512 !important;
}

.text-info {
    color: #246BCE !important;
}

.text-success {
    color: #198754 !important;
}

.btn {
    transition: all 0.3s;
    padding: 10px 20px;
}